<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="URL" value="https://demo.deutsche-wolke.de/cmis/browser"/>
    <add key="UrlModificationAllowed" value="true"/>
  </appSettings>
</configuration>