EntityFramework.dll
EntityFramework.dll.mdb
EntityFramework.xml
System.Data.SQLite.Linq.dll
System.Data.SQLite.Linq.dll.mdb
System.Data.SQLite.dll
System.Data.SQLite.dll.mdb
System.Data.SQLite.xml
DotCMIS.dll
DotCMIS.dll.mdb
DotCMIS.XML
DotCMIS.dll.config
